.input {
  display: flex;
  align-items: center;
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  padding-inline: 10px;
  border: 1px solid rgb(189, 189, 189);
  outline: none;
  border-radius: 6px;
}

.input input {
  height: 35px;
  width: 100%;
  border: none;
  outline: none;
}
